src/main/mule/credit_detail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="credit_details_main_flow" doc:id="0e3ac2cc-837c-41c1-a2e1-e44a4109c7f4" >
		<scheduler doc:name="Scheduler" doc:id="16871009-5f1c-40bb-a5ad-a78f3e03b8f3" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="jobRun" doc:id="5136013e-75d7-4154-a7ba-7569af6ec223" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="jobRun" ><![CDATA[%dw 2.0
import * from dw::core::Strings

// Function to extract the year from the date
fun year(date) =
  (date as DateTime).year
  
fun C_value(date) =
  floor((year(date) - 1900) / 100)

// Function to extract the day of the year from the date
fun dayOfYear(date) =
  (date as DateTime).dayOfYear

// Function to extract time from DateTime as a string, remove milliseconds and timezone, and select first 6 digits
fun extractTime(date) =
  do {
    var dateTimeStr = (date as String)
    var timePart = (dateTimeStr splitBy "T")[1] // Extract the time part after 'T'
    var timeWithoutMilliseconds = (timePart splitBy "\\.")[0] // Remove milliseconds
    var timeWithoutTimezone = (timeWithoutMilliseconds splitBy "\\+")[0] // Remove timezone
    var cleanTime = (timeWithoutTimezone replace ":" with "") // Remove colons
    ---
    cleanTime[0 to 5] // Select only the first 6 characters (HHmmss)
  }

// Function to compute the Julian date and time
fun JulianDate(date) =
  {
    // Julian date calculation: full year + day of year padded to 3 digits
    date: C_value(date) ++(year(date) as String)[2 to 3] ++ leftPad(dayOfYear(date), 3, "0"),
    
    // Julian time calculation: extract and format time
    time: extractTime(date)
  }

// Main output as JSON
output application/json  
---
JulianDate((now()) as DateTime >>  "America/New_York" )
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="jobRun logger" doc:id="7f582ec0-f89a-4866-afdb-4692c7dd5010" message='#[%dw 2.0&#10;output application/java&#10;---&#10;"&#10;CurrenntjobRunDetails : " ++ vars.jobRun.^raw]' />
		<os:retrieve doc:id="96d728f2-55c3-4bf4-bff3-ec21d2181599" key="previousCreditDetailsJobRun" target="previousJobRun" doc:name="Retrieve :previousJobRun" objectStore="Object_store">
			<os:default-value ><![CDATA[#[vars.jobRun]]]></os:default-value>
		</os:retrieve>
		<ee:transform doc:name="static date code for testing-disable before actual deployment" doc:id="cc465ca8-476c-498a-b29f-added7fd4d4a">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="previousCreditDetailsJobRun" ><![CDATA[{
  "date": "125058",
  "time": "123918"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<!-- [STUDIO:"Logger"]<logger level="INFO" doc:name="Logger" doc:id="d078f2f0-458f-47c7-a7d0-4637177c9164" message='#[%dw 2.0&#10;output application/java&#10;&#45;&#45;-&#10;"&#10;LastjobRunDetails : " ++ vars.previousCreditDetailsJobRun.^raw&#93;' /> [STUDIO] -->
		<flow-ref doc:name="credit_detailSub_Flow" doc:id="13cf115d-727b-4d39-badd-265ba66d1ba1" name="credit_detailSub_Flow" />
		<os:store doc:id="76f95675-9f02-41c7-b8f5-cda6ad77864f" key="previousCreditDetailsJobRun" doc:name="Store current job run details" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.jobRun]]]></os:value>
		</os:store>
		<error-handler ref="global-error-handler" />
	</flow>
</mule>
